{% extends "almacen/index.html" %}
{% load static from staticfiles %}


{% block breadcrumb %} 
<nav aria-label="breadcrumb" >
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Taller</li>
        <li class="breadcrumb-item"><a href="/taller/orden_trabajo/">Lista de Ordenes de trabajo</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nueva Orden de trabajo</li>
    </ol>
</nav> 
{% endblock breadcrumb%}

{% block pagecontent %}


<div class="container-fluid pb-2">
   
    <div class="panel-heading">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item" >
                <a href="{% url 'taller:lista_orden_trabajo' %}" role="tab"><strong>Lista de Ordenes de trabajo</strong></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active rounded-top"><strong>Nueva Orden de trabajo</strong></a>
            </li>
        </ul>
    </div>
   
    
    <div class="panel-body p-3 bg-light rounded shadow">
        <form method="post" enctype="multipart/form-data" accept-charset="utf-8">
            {% csrf_token %}

            <div class="form-row form-subtitle col-sm-11 justify-content-between">
                <strong><span>Orden de trabajo Nº {{codigo_orden}}</span></strong>
            </div>

            <div id="fomulario-datos" class="rounded border pr-5 pt-3 bg-light shadow">
                <div class="form-group row pl-4">
                    <label  class="col-sm-6 col-md-4 col-lg-3 text-justify">
                        <strong>Número de Orden de Trabajo</strong>
                    </label>
                    <div class="col-sm-4 col-md-6 col-lg-4">
                        {{codigo_orden}}
                    </div>
                </div>

                <div class="form-group row pl-4">
                    <label  class="col-sm-6 col-md-4 col-lg-3 text-justify">
                        <strong>{{ ordentrabajo_form.fk_id_empleado.label }}</strong>
                    </label>
                    <div class="col-sm-4 col-md-6 col-lg-4 ">
                        {{ ordentrabajo_form.fk_id_empleado  }}
                    </div>
                </div>

                <div class="form-group row pl-4">
                    <label  class="col-sm-6 col-md-4 col-lg-3 text-justify">
                        <strong>{{ ordentrabajo_form.fk_id_padron.label }}</strong>
                    </label>
                    <div class="col-sm-2 col-md-3 col-lg-2 ">
                        {{ ordentrabajo_form.fk_id_padron }}
                    </div>
                </div>

                <div class="form-group row pl-4">
                    <label  class="col-sm-6 col-md-4 col-lg-3 text-justify">
                        <strong>{{ ordentrabajo_form.ot_kilometraje.label }}</strong>
                    </label>
                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                        {{ ordentrabajo_form.ot_kilometraje }}
                    </div>
                </div>

            </div>

            <div class="form-field form-subtitle col-sm-11">
                    <strong><span> Productos</span></strong>
                    <input  class ="btn btn-outline-primary btn-lg rounded-circle" type="submit" value="Registrar Orden" /> 
            </div>

                <div class="container-fluid rounded border bg-light shadow pt-2">
                    <div class="formset">
                        {{ formset.management_form }}
                            {% for form in formset %}

                                {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.dm_cant_solicitada.errors }}
                                </div>
                                {% endif %}

                                <div class="form-group row pl-4">
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        {{ form.fk_id_producto  }}
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        {{ form.dm_cant_solicitada  }}
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        <button class="btn btn-success add-form-row rounded">
                                        Añadir más
                                        </button>
                                     </div>
                                </div>

                            {% endfor %}

                    </div>
                    
                </div>
                
        </form>
    </div>  
</div>
    
    
	
</div>

{% endblock pagecontent %}

{% block extrajs %}
{% endblock extrajs %}