{% extends "almacen/index.html" %}
{% load static from staticfiles %}


{% block breadcrumb %} 
<nav aria-label="breadcrumb" >
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Almacén</li>
        <li class="breadcrumb-item active" aria-current="page">Parte de ingreso</li>
    </ol>
</nav> 
{% endblock breadcrumb%}

{% block pagecontent %}


<div class="container-fluid pb-2">
    
    <div class="p-3 bg-light rounded shadow">
        <form method="post" enctype="multipart/form-data" accept-charset="utf-8">
            {% csrf_token %}

            <div class="form-row form-subtitle col-sm-11 justify-content-between">
                <strong><span>Ingreso de productos</span></strong>
            </div>
            <small class="pull-right">Fecha: {% now "d/m/Y" %}</small>
            <div id="fomulario-datos" class="rounded border pr-5 pt-3 bg-light shadow">
                
                <div class="form-group row pl-4">
                    <label  class="col-sm-6 col-md-4 col-lg-3 text-justify">
                        <strong>{{ parte_ingreso_form.pi_codigo.label }}</strong>
                    </label>
                    <div class="col-sm-4 col-md-6 col-lg-4 ">
                        {{ parte_ingreso_form.pi_codigo  }}
                    </div>
                </div>

                <div class="form-group row pl-4">
                    <label  class="col-sm-6 col-md-4 col-lg-3 text-justify">
                        <strong>{{ parte_ingreso_form.fk_id_proveedor.label }}</strong>
                    </label>
                    <div class="col-sm-2 col-md-3 col-lg-2 ">
                        {{ parte_ingreso_form.fk_id_proveedor }}
                    </div>
                </div>

            </div>

            <div class="form-field form-subtitle col-sm-11">
                    <strong><span> Productos</span></strong>
                    <input  class ="btn btn-outline-primary btn-lg rounded-circle" type="submit" value="Registrar Orden" /> 
            </div>

                <div class="container-fluid rounded border bg-light shadow pt-2">
                    <div class="formset">
                        {{ formset.management_form }}
                            {% for form in formset %}

                                {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.dm_cant_entrada.errors }}
                                </div>
                                {% endif %}

                                <div class="form-group row pl-4">
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        {{ form.fk_id_producto  }}
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        {{ form.dm_cant_entrada  }}
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                                        <button class="btn btn-success add-form-row rounded">
                                        Añadir más
                                        </button>
                                     </div>
                                </div>

                            {% endfor %}

                    </div>
                    
                </div>
                
        </form>
    </div>  
</div>
    

{% endblock pagecontent %}

{% block extrajs %}
{% endblock extrajs %}